<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSSPMarket"
        tools:targetApi="31">
        <activity
            android:label="Mon chariot"
            android:name=".MonChariot"
            android:exported="false" />
        <activity
            android:name=".CreateUser"
            android:exported="false"
            android:label="Création de l&apos;utilisater"
            android:parentActivityName=".Authentification"
            android:screenOrientation="portrait" />
        <activity
            android:label="Produits"
            android:name=".Produits"
            android:exported="false" />
        <activity
            android:name=".Authentification"
            android:exported="false"
            android:label="Authentification"
            android:parentActivityName=".Acceuil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acceuil"
            android:exported="true"
            android:label="Acceuil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>